<div class="wishlist-name">
  <div *ngIf="!edit" (click)="toggle()">{{wishlistName}}</div>
  <div *ngIf="edit">
    <div class="input-group">
      <input type="text" class="edit" [(ngModel)]="wishlistName" />
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" (click)="cancelEdit()">Cancel</button>
        <button class="btn btn-success" (click)="saveName()">Save</button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" style="margin-top: 50px;">
  <div class="row justify-content-center" >
    <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let product of products" >
      <app-single-product [rawProduct]="product" (updateList)="loadData()"></app-single-product>
    </div>
  </div>
</div>
