<div>
  <form class="d-flex">
    <input type="text" name="productSearch" class="rounded p-2 flex-grow-1" [(ngModel)]="searchString">
  </form>
</div>
<app-list-product [search]="searchString" ></app-list-product>


