<nav *ngIf="nav" aria-label="">
  <ul class="pagination">
    <li *ngIf="pagination.currentPage > 0" class="page-item"><a class="page-link" href="#" (click)="goToPrevious()">Previous</a></li>
    <li class="page-item"><a class="page-link">{{pagination.currentPage + 1}} - {{pagination.totalPages}}</a></li>
    <li *ngIf="(pagination.currentPage) < pagination.totalPages" class="page-item"><a class="page-link" href="#" (click)="goToNext()">Next</a></li>
  </ul>
</nav>
<div class="container-fluid" style="margin-top: 50px;">
  <div class="row justify-content-center" >
    <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let product of products" >
      <app-single-product [rawProduct]="product"></app-single-product>
    </div>
  </div>
</div>
