<div class="card single-product">
  <img class="card-img-top" [src]="'https://www.real.de/lebensmittelshop' + images[0].url" [alt]="name">
  <div class="card-body">
    <small>{{brand}}</small>
    <h5 class="card-title"><a [href]="url">{{name}}</a></h5>
    <p>Price: {{price.formattedValue}}</p>
    <button *ngIf="!isOnWishlist" class="btn btn-primary w-100" (click)="addToWishlist()">Add to Wishlist</button>
    <button *ngIf="isOnWishlist" class="btn btn-danger w-100" (click)="removeFromWishlist()">Remove item from Wishlist</button>
  </div>
</div>
