<div style="text-align:center">
  <h1>Welcome to your Wishlist!</h1>
</div>
<br/>
<div class="col-12 text-center menu">
  <div class="btn-group">
    <a class="btn btn-outline-dark" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    <a class="btn btn-outline-dark" routerLink="/wishlist" routerLinkActive="active">Wishlists</a>
  </div>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
